* {
    padding: 0%;
    margin: 0%;
}

.outerBody{
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.item{
    border: solid 2px black;
    border-radius: 5px;
}

